body {
	background-color: ghostwhite;
	margin:0;
}
@font-face {
	font-family: RobotoBold;
	src: url(../fonts/roboto-bold.ttf);
	font-weight: 400;
}
@font-face {
	font-family: RobotoThin;
	src: url(../fonts/roboto-thin.ttf);
	font-weight: 400;
}
#pusher {
	height:100vh;
}
#header-wrapper {
	left:0;
	z-index: 1000;
	position: fixed;
	text-align: center;
	color:white;
	padding-top: 10px;
	padding-bottom: 10px;
	width:100%;
	top: 50vh;
	transform:translateY(-50%);
	background-color: #4caf50;
}
.content-title {
	font-family: RobotoBold;
	line-height: 2;
	background-color: #087f23;
	color:white;
	width:100%;
	margin:0;
}
@media all and (min-width: 300px) {
	#header-wrapper h1 {
		font-size: 10vw;
	}
	#header-wrapper p {
		font-size:5vw;
	}
	.content-title {
		text-align: center;
	}
	#content p {
		min-width:80vw;
		max-width:90vw;
	}
	#finbar {
		display: none;
	}
}
@media all and (min-width: 600px) {
	#header-wrapper h1 {
		font-size: 8vw;
	}
	#header-wrapper p {
		font-size:4vw;
	}
	.content-title {
		text-align: center;
	}
	#content p {
		min-width:80vw;
		max-width:90vw;
	}
	#finbar {
		display: none;
	}
}
@media all and (min-width: 1000px) {
	#header-wrapper h1 {
		font-size: 4vw;
	}
	#header-wrapper p {
		font-size:2vw;
	}
	.content-title {
		text-align: left;
		font-size:2vw;
		text-indent: 2em;
	}
	#content p {
		max-width:90vw;
	}
	#finbar {
		display: block;
	}
}
#header-wrapper h1 {
	line-height: 0.3;
	font-family: RobotoBold, sans-serif;
}
#header-wrapper p {
	font-family: RobotoThin;
}
@keyframes bob {
	0% {bottom:10px;}
	50% {bottom:0px;}
	100% {bottom:10px;}
}
#moar {
	position:absolute;
	animation: bob 1s 0s ease infinite;
	width:2cm;
	left:50%;
	transform:translateX(-50%);
}
#content p {
	font-family: RobotoThin;
	/*color:#232323;*/
	margin-left:50%;	
	transform:translateX(-50%);
}
#content ul {
	font-family: RobotoThin;
	/*color:#232323;*/
	margin-left:50%;	
	transform:translateX(-50%);
}
#finbar {
	position: absolute;
	top:0;
	left:0;
	border: white 5px;
	border-radius:5px;
	overflow:none;
	top:10%;
	left:10%;
	height:80%;
}
#content h3 {
	font-family: RobotoThin;
	/*color:#232323;*/
	margin-left:50%;	
	transform:translateX(-75%);
}